In [ ]:
# MINI PROJECT
# EXPLORATORY DATA ANALYSIS - Machine Learning From IMDB Top 1000 Movies

In [ ]:
import pandas as pd
df = pd.read_csv('/content/imdb_top_1000.csv')
df

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime (min)  1000 non-null   int64
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB

In [ ]:
#Exact count of unique elements in each row
df.nunique()

Poster_Link      1000
Series_Title      999
Released_Year     100
Certificate        16
Runtime (min)     140
Genre             202
IMDB_Rating        17
Overview         1000
Meta_score         63
Director          548
Star1             660
Star2             841
Star3             891
Star4             939
No_of_Votes       999
Gross             823
dtype: int64

In [ ]:
#Movie Cerificates
cert = df.groupby('Certificate').size()
cert

Certificate
16            1
A           197
Approved     11
G            12
GP            2
PG           37
PG-13        43
Passed       34
R           146
TV-14         1
TV-MA         1
TV-PG         3
U           234
U/A           1
UA          175
Unrated       1
dtype: int64

In [ ]:
import numpy as np
#how many family friendly movies have IMDB rating greater than 9.0
certu_imdb9 = np.sum((df['Certificate'] == 'U') & (df['IMDB_Rating'] >= 9.0))

#how many movies are directed by Christopher Nolan 
chrisn_movies = np.sum(df['Director'] == 'Christopher Nolan')

#how many movies have IMDB rating greater than 9.0 and Meta critic score above 90
imdb9_ms90 = np.sum((df['IMDB_Rating'] >= 9.0) & (df['Meta_score'] >= 90))

#No. of movies starring Tom Hanks
tomh_movies = np.sum((df['Star1'] == 'Tom Hanks') ^ (df['Star2'] == 'Tom Hanks') ^ (df['Star3'] == 'Tom Hanks') ^ (df['Star4'] == 'Tom Hanks'))

#No. of Drama movies
drama_movies = df['Genre'].value_counts()['Drama']

In [ ]:
df.groupby(['IMDB_Rating' , 'Meta_score']).size()

IMDB_Rating  Meta_score
7.6          30.0          1
             36.0          1
             41.0          1
             45.0          1
             46.0          1
                          ..
9.0          84.0          1
             90.0          1
             96.0          1
9.2          100.0         1
9.3          80.0          1
Length: 356, dtype: int64

In [ ]:
# Recently released movie is released in which year
np.max(df['Released_Year'])

2020

In [ ]:
# When is the oldest movie released
np.min(df['Released_Year'])

1920

In [ ]:
# What is the longest movie's runtime
Run_max = np.max(df['Runtime (min)'])
print(Run_max/60 ,'hours')

5.35 hours

In [ ]:
# What is the shortest movie's runtime 
Run_min = np.min(df['Runtime (min)'])
print(Run_min/60 ,'hours')

0.75 hours

In [ ]:
# What is the Lowest IMDB rating given to a movie
np.min(df['IMDB_Rating'])

7.6

In [ ]:
# What is the highest Gross Collection earned by any movie 
np.max(df['Gross'])

936662225.0

In [ ]:
fname = df['Certificate'].unique()
fname

array(['A', 'UA', 'U', 'PG-13', 'R', nan, 'PG', 'G', 'Passed', 'TV-14',
       '16', 'TV-MA', 'Unrated', 'GP', 'Approved', 'TV-PG', 'U/A'],
      dtype=object)

In [ ]:
fsize = df.groupby('Certificate').size()
fsize

Certificate
16            1
A           197
Approved     11
G            12
GP            2
PG           37
PG-13        43
Passed       34
R           146
TV-14         1
TV-MA         1
TV-PG         3
U           234
U/A           1
UA          175
Unrated       1
dtype: int64

In [ ]:
# Top 10 Highest Rated movies and their Directors
df.iloc[0:10 , 1:10:8]

                                    Series_Title              Director
0                       The Shawshank Redemption        Frank Darabont
1                                  The Godfather  Francis Ford Coppola
2                                The Dark Knight     Christopher Nolan
3                         The Godfather: Part II  Francis Ford Coppola
4                                   12 Angry Men          Sidney Lumet
5  The Lord of the Rings: The Return of the King         Peter Jackson
6                                   Pulp Fiction     Quentin Tarantino
7                               Schindler's List      Steven Spielberg
8                                      Inception     Christopher Nolan
9                                     Fight Club         David Fincher

In [ ]:
# Gross collection of Least 20 Movies
df.iloc[980: , 1::14]

                           Series_Title        Gross
980                        Blood Simple    2150000.0
981                      On Golden Pond  119285432.0
982                           Mad Max 2   12465371.0
983                        The Warriors   22490039.0
984                    The Muppet Movie   76657000.0
985                Escape from Alcatraz   43000000.0
986                      Watership Down          NaN
987                    Midnight Express   35000000.0
988  Close Encounters of the Third Kind  132088635.0
989                    The Long Goodbye     959000.0
990                        Giù la testa     696690.0
991                      Kelly's Heroes    1378435.0
992                     The Jungle Book  141843612.0
993                              Blowup          NaN
994                  A Hard Day's Night   13780024.0
995              Breakfast at Tiffany's          NaN
996                               Giant          NaN
997               From Here to Eternity   30500000.0
998                            Lifeboat          NaN
999                        The 39 Steps          NaN

In [ ]:
# Top 50 Movies and their Leading Actor/Actress
df.iloc[0:50 , 1:11:9]

                                         Series_Title                  Star1
0                            The Shawshank Redemption            Tim Robbins
1                                       The Godfather          Marlon Brando
2                                     The Dark Knight         Christian Bale
3                              The Godfather: Part II              Al Pacino
4                                        12 Angry Men            Henry Fonda
5       The Lord of the Rings: The Return of the King            Elijah Wood
6                                        Pulp Fiction          John Travolta
7                                    Schindler's List            Liam Neeson
8                                           Inception      Leonardo DiCaprio
9                                          Fight Club              Brad Pitt
10  The Lord of the Rings: The Fellowship of the Ring            Elijah Wood
11                                       Forrest Gump              Tom Hanks
12                    Il buono, il brutto, il cattivo         Clint Eastwood
13              The Lord of the Rings: The Two Towers            Elijah Wood
14                                         The Matrix        Lilly Wachowski
15                                         Goodfellas         Robert De Niro
16     Star Wars: Episode V - The Empire Strikes Back            Mark Hamill
17                    One Flew Over the Cuckoo's Nest         Jack Nicholson
18                                           Hamilton     Lin-Manuel Miranda
19                                       Gisaengchung           Kang-ho Song
20                                    Soorarai Pottru                 Suriya
21                                       Interstellar    Matthew McConaughey
22                                     Cidade de Deus             Kátia Lund
23                      Sen to Chihiro no kamikakushi          Daveigh Chase
24                                Saving Private Ryan              Tom Hanks
25                                     The Green Mile              Tom Hanks
26                                    La vita è bella        Roberto Benigni
27                                              Se7en         Morgan Freeman
28                           The Silence of the Lambs           Jodie Foster
29                                          Star Wars            Mark Hamill
30                                            Seppuku        Tatsuya Nakadai
31                               Shichinin no samurai         Toshirô Mifune
32                              It's a Wonderful Life          James Stewart
33                                              Joker        Joaquin Phoenix
34                                           Whiplash           Miles Teller
35                                   The Intouchables          Éric Toledano
36                                       The Prestige         Christian Bale
37                                       The Departed      Leonardo DiCaprio
38                                        The Pianist           Adrien Brody
39                                          Gladiator          Russell Crowe
40                                 American History X          Edward Norton
41                                 The Usual Suspects           Kevin Spacey
42                                               Léon              Jean Reno
43                                      The Lion King            Rob Minkoff
44                         Terminator 2: Judgment Day  Arnold Schwarzenegger
45                              Nuovo Cinema Paradiso        Philippe Noiret
46                                     Hotaru no haka        Tsutomu Tatsumi
47                                 Back to the Future         Michael J. Fox
48                       Once Upon a Time in the West            Henry Fonda
49                                             Psycho        Anthony Perkins